#game ul li {
    display: inline-block;
    border: 2px solid red;
    width: 3em;
    min-height: 3em;
    height: auto;
    text-align: center;
    padding: 0.4em;
    margin: 0.3em;
    vertical-align: middle;
    list-style-type: none;
}

#game ul li span {
    font-size: 2.4em;
    min-width: inherit;
    min-height: inherit;
    display: block;
}

.cross:before {
    content: "\274C";
}

.tick:before {
    content: "\2B55";
}